<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h2>All users</h2>
<br>
<br>
<div th:each="user : ${users}">
    <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${'Id =  '+user.getId()+' Age = '+user.getAge()+' '+user.getName()+' '+user.getLastName()}"></a>
    <a th:href="@{/users/update/{id}(id=${user.getId()})}" th:text="' '+UPDATE+' '"></a>
    <a th:href="@{/users/delete/{id}(id=${user.getId()})}" th:text="' '+DELETE"></a>
</div>
<br>
<a href="/users/new">Create new user!</a>
</body>
</html>